*,
*::after,
*::before {
	margin: 0;
  padding: 0; 
  box-sizing: border-box;
  /* font-family: Gotham Rounded, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  overflow: hidden;  /* hides scroll bars */
  background: linear-gradient(45deg,orangered, blue);
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 20px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: white;
}

#myCanvas {
  border: 1px solid black;
  background-color:aqua;
  /* width: auto; */
}

#container {
  display: flex;
  justify-content: center;
}
